.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.liveWrapper{
  display: flex;
  padding-top: 30px;
}

.liveBox{
  margin: 0 auto;
    max-width: 1280px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #00000012;
    margin-bottom: 50px;
}
.str-chat-channel {
  max-height: 600px !important;
}

.navbarRouter img{
  height:30px;
}

.navbarRouter {
  box-shadow: 5px 1px 10px #00000012;
}

.profile-pic{
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.description{
  text-align: left;
  padding: 15px 20px;
}


.who{
  padding-left: 20px;
}

.who h3, h4, h5{
  margin: 0;
}

.who h3{
  font-weight: 600;
    font-size: 18px;
}

.who h4{
  font-weight: 200;
  padding: 3px 0px;
}

.who h5{
  font-weight: 200;
  color: #ee6b6b;
}
.descSection{
  display: flex;
}

.verified{
  width: 13px;
}

#progress {
  /*STEP 1 |||||||||||||||||||||||*/
  /*||||||||||||CHANGE||||||||||||*/

             width: 37.5%; 

  /*||||||||||PERCENTAGE||||||||||*/
  /*||||||||||||||||||||||||||||||*/
  /*Next step is at the bottom! Scroll down!*/

  float: left;
  border-radius: 6px;
  height: 20px;
  background: #36B8E9; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #ffd4e0, #ffe4ec); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(-90deg, #ffd4e0, #ffe4ec); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #ffd4e0, #ffe4ec); /* Standard syntax */
  z-index: 333;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

#countdown-wrap {
  width: 120%;
  height: 160px;
  padding: 20px;
  font-weight: 500;
}
#goal {
  font-size: 20px;
  text-align: right;
  width:80%;
}
@media only screen and (max-width: 540px) {
  #goal {
    text-align: center;
  }
}


#glass {
  width: 80%;
  height: 20px;
  border-radius: 6px;
  background: #ee0e0;
  float: left;
  overflow: hidden;
  background-color: #dee0e0;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}
.goal-stat {
  width: 20%;
  height: 30px;
  padding: 10px;
  float: left;
  margin: 0;
}
@media only screen and (max-width: 540px) {
  .goal-stat {
    width: 40%;
    text-align: center;
  }
}
.goal-number,
.goal-label {
  display: block;
  font-size: 20px;
}
.goal-number {
  font-weight: bold;
}
#goal-words {
  float: right;
  width: 26%;
  font-size: 20px;
}

@media only screen and (max-width: 790px) {
  .liveBox{
    display: block;
    border-radius: 10px;
    margin: 0 10px;
  }
  #countdown-wrap{
    display: none;
  }
  .navbarRouter img {
    margin-left: 10px;
  }
}